# PYTHON BASICS

In [1]:
a = "Hello"
print(a)

Hello

In [2]:
print("Machine Learning is fun!")

Machine Learning is fun!

In [3]:
a = input()

This is Python Class

In [4]:
print(a)

This is Python Class

In [5]:
a = 10
b = 20
print(a+b)

30

In [6]:
print(type(a))

<class 'int'>

In [7]:
# Execute a Cell -> Shift + Enter
# Add a Cell Above -> Esc, a
# Add a Cell Below -> Esc, b

In [10]:
b = "Hello this is Python Class"
b = b.lower()
b =b.split()
print(b)

['hello', 'this', 'is', 'python', 'class']

In [11]:
print(len(b))

5

In [13]:
len(b[0])

5

In [15]:
ans = 0
for word in b:
    ans += len(word)
print(ans)

22

In [20]:
a = "  hello world "
print(a)
print(len(a))

  hello world
14

In [21]:
a = a.strip()
print(a)
print(len(a))

hello world
11

In [22]:
# Slicing a[s:e:jump] -->extracts chars from index s to e-1
a[1:3]

'el'

In [27]:
a[-3: :-1]

'row olleh'

In [28]:
a[2: :2]

'lowrd'

In [30]:
## Data Structres

# List
a = [1,2,3,4,5,6]
print(a)
print(type(a))

[1, 2, 3, 4, 5, 6]
<class 'list'>

In [31]:
print(len(a))

6

In [38]:
a.append(10)
#a.pop(0) #removes the 0th or ith element
a.remove(6)
print(a)

[5, 10, 10, 10, 10, 10, 10]

In [107]:
# Next thing
# Dictonaries in Python
#create and initiationalise
price_table = {
    "golgappa":30,
    "shake":{"mango":70,"apple":90},
}
#insert
price_table["idli_sambhar"] = 100

In [110]:
price_table["shake"]["apple"]

90

In [49]:
print(price_table.get("shake1"))

None

In [53]:
list(price_table.keys())

['golgappa', 'shake', 'idli_sambhar']

In [52]:
list(price_table.values())

[30, 70, 100]

In [102]:
a = ["India","Japan","USA"]
b = ["Delhi":{},"Tokyo","Washington"]

d = dict(zip(a,b))
print(d)
d["India"]["Delhi"]

SyntaxError: invalid syntax (<ipython-input-102-f12870c5172f>, line 2)

In [55]:
d["India"]

'Delhi'

In [71]:
for i in range(1,11,2): #range(s,e+1,jump)
    print(i**3)
    if i%7==0:
        break
    elif i%3==0:
        print("Multiple of 3")
    else:
        print("Carry on")

1
Carry on
27
Multiple of 3
125
Carry on
343

In [ ]:
#input
n=5
#output
*
**
***
****
*****

In [74]:
print(a,end='')

['India', 'Japan', 'USA']

In [81]:
n = input()
n = int(n)

5

In [91]:
for i in range(1,n+1):
    for j in range(i):
        print("*",end="")
    print()

*
**
***
****
*****

In [93]:
for i in range(1,n+1):
    print("*"*i)

*
**
***
****
*****

In [95]:
# Load a text file in python!
with open("sample_text.txt") as f:
    print(f.read())

Output

I want to have icecream.

Thanks for this awesome gift!

In [97]:
def fun():
    print("this is function")
    return 5

a = fun()
print(a)

this is function
5

In [98]:
# Your Task - Create a Function which accepts filename 
#and returns the list of words in that file
def load_words(filename):
    #....#
    with open(filename) as f:
        data = f.read()
        data = data.split()
    return data

In [99]:
load_words("sample_text.txt")

['Output',
 'I',
 'want',
 'to',
 'have',
 'icecream.',
 'Thanks',
 'for',
 'this',
 'awesome',
 'gift!']

# Download Data Folder -> 
## http://cb.lk/mldtu19

they are playing in the ground!